:root {
    font-size: 16px;
    --headerHeight: 70px;
    --moHeaderHeight: 50px;
}

$mainColor: #55e6a5;
$basicColor: #fff;
$basicBgColor: #1d1d1d;
$menuCount: 4;
$portCount: 7;

html,body{
    font-size: 1rem; font-family: 'Pretendard'; color: $basicColor; background-color: $basicBgColor; background-image: url(../image/noise1.png);
    overscroll-behavior: none; 
    -webkit-overflow-scrolling: touch; 
    -webkit-touch-callout: none; 
    -ms-content-zooming: none; 
    // touch-action: pan-x pan-y;
    // -ms-touch-action: pan-x pan-y;
    user-select: auto; -webkit-user-select: auto; -khtml-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; 
    text-size-adjust: none; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; -moz-text-size-adjust: none; -o-text-size-adjust: none;
    overscroll-behavior-y: contain;
}
body.popup-open {position: fixed; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; pointer-events: none;}

.wrap {padding: 0 40px; padding-top: var(--headerHeight);}
.inner {position: relative; width: 100%; border: 1px solid rgba(255, 255, 255, 0.1); padding: 0 40px; max-width: 1600px; margin: auto; border-radius: 15px; z-index: 5;}
.container {margin: auto; padding: 0 20px; max-width: 1320px;}
.mobile {display: none;} /*pc해상도에서는 안보임*/
.pc_1080 {display: block;} /*1080이하 해상도에서는 안보임*/
.pc_769 {display: block;} /*769이하 해상도에서는 안보임*/
.blind {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;}
.sticky {position: sticky; position: -webkit-sticky; top: 0; left: 0;}

//header
.header {position: fixed; top: 0; left: 0; right: 0; height: var(--headerHeight); background: $basicBgColor; border-bottom: 2px solid $basicBgColor; z-index: 999;
    &.act {transition: transform .5s; backdrop-filter: blur(30px); background: rgba(29, 29, 29, 0.2); border-color: rgba(255, 255, 255, 0.05);}
}
.nav {height: 100%; display: flex; justify-content: space-between;
    &__inner {display: flex; justify-content: space-between; align-items: center;  flex-wrap: wrap;  width: 100%; max-width: 1320px; height: 100%; padding: 0 20px; margin: auto;}
    .logo {display: inline-flex; align-items: center; height: 100%; padding-left: 17px; background: url(../image/k_logo2.png) no-repeat 0 center / auto 22px; font-size: 1.25rem;}
}
.menuBtn {position: relative; width: 30px; height: 40px; cursor: pointer;
    .bar {position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 100%; height: 15px;
        &:before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 2px; background-color: $basicColor; transition: all 0.3s;}
        &:after {content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background-color: $basicColor; transition: all 0.3s;}
    }
    &.on {
        .bar {
            &:before {content: ""; transform: rotate(45deg); top: 50%; transition: all 0.3s;}
            &:after {content: ""; transform: rotate(-45deg); top: 50%; transition: all 0.3s;}
        }
    }
}
.navList {display: flex; justify-content: center; align-items: center; column-gap: 20px; height: 100%; 
    &__item {height: 100%;}
    &__link {display: inline-flex; align-items: center; height: 100%;
        &:hover {color: $mainColor; transition: color 0.5s;}
    }
}

//about
.about {display: flex;}
.profile {flex: 0 0 auto; padding-top: 80px; padding-bottom: 80px; width: calc(100% / 3); max-width: 100%;
    .perspective {perspective: 640px;} 
    &__cont {padding: 30px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 5px; transform: rotateY(7deg);}
    &__img {width: 100%; object-fit: cover; background-color: $mainColor;}
    &__name {display: block; text-align: center; font-size: 1.5rem; font-weight: 400; margin-top: 30px;}
    .sticky {top: 100px;}
}
.socialList {display: flex; justify-content: center; column-gap: 10px; margin-top: 30px;
    &__item {width: 40px; height: 40px;}
    &__link {display: block; width: 100%; height: 100%;  border-radius: 100%; border: solid 1px $basicColor; overflow: hidden;
        &--tistory {background: #000 url(../image/tistory_logo_w.png) no-repeat center / 30px;}
        &--github {background: #000 url(../image/git_logo2_w.png) no-repeat center 100% / 40px}
        &--notion {background: #000 url(../image/notion-logo.png) no-repeat center / 25px}
        &:hover {border-color: $mainColor;
            &.socialList__link--tistory {background-color: $mainColor;}
            &.socialList__link--github {background-color: $mainColor;}
            &.socialList__link--notion {background-color: $mainColor;}
        }
    }
}
.introduce {flex: 0 0 auto; width: calc(100% / 3 * 2 - 8%); max-width: 100%; margin-left: 8%; padding: 0 25px;
    &__text {padding-top: 120px; font-size: 3.125rem; line-height: 1.3;}
    .hello {display: block; padding-bottom: 15px; font-size: 3.75rem; color: $mainColor;}
}
.sec {padding-top: 120px;
    &Head {padding-bottom: 20px; margin-bottom: 80px; border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &__tit {text-transform: uppercase; font-size: 1.75rem; font-weight: 300;}
    }
    &Head--skills {margin-bottom: 0; border-bottom: 0;}
}
.introList {
    &__item {display: flex; justify-content: space-between; margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
    &__date {display: inline-block; padding: 5px 15px; border-radius: 30px; border: 1px solid rgba(255, 255, 255, 0.5);
        .startDate,
        .endDate {font-size: 0.8125rem; font-weight: 300; color: #ddd;}
    }
    .introInfo {display: flex; justify-content: space-between; align-items: center; width: calc(100% - 180px);}
}
.tags {display: flex; flex-wrap: wrap; padding: 20px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 5px;
    &__item {font-size: 1rem; padding: 5px 15px; border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 30px; margin-right: 5px; margin-top: 5px;}
}

//portfolio
// #port {
//     .sec {overflow: hidden;}
// }
.portList {
    // display: flex; flex-wrap: wrap; width: calc((410px * $portCount) + (30px * $portCount));
    width: calc(100% + 100px); margin-left: -50px;
    &__item {display: flex; align-content: space-between; flex-wrap: wrap; width: 410px; min-height: 430px; padding: 15px; margin-right: 30px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 5px;
        div {width: 100%;}
        .tit {display: block; padding: 5px 0; font-size: 1.125rem;}
        &.hover {border-color: $mainColor; transition: border .4s;}
    }
    .swiper {width: 100%; padding: 0 50px;}
    .swiper-slide {display: flex;}
    .mySwiper {position: relative; padding-bottom: 40px;
        &:before {content:""; position: absolute; left:0; top:-2px; width: 50px; height: calc(100% + 4px); background-color: #1d1d1d; background-image: url(/src/assets/image/noise1.png); z-index: 2; }
        &:after {content:""; position: absolute; right:0; top:-2px; width: 50px; height: calc(100% + 4px); background-color: #1d1d1d; background-image: url(/src/assets/image/noise1.png); z-index: 2; }
        .swiper-button-prev, 
        .swiper-button-next {top: calc(var(--swiper-navigation-top-offset, 50%) - 40px)}
        .swiper-button-prev:after, 
        .swiper-button-next:after {font-size: 2rem; color: #fff;}
        .swiper-pagination-bullet-active {background: #333;}
    }
}
.imgBox {margin: 5px 0; width:100%; height: 200px; border-radius: 5px; overflow: hidden;
    img {width:100%; height: 100%; object-fit: cover;}
}
.txtBox {
    .txt {display: block; position: relative; padding-left: 10px; font-weight:200; line-height: 1.3;
        &:before {content:":"; position: absolute; top: 0; left:0;}
    }
}
.workBox {padding: 5px 0;
    .work {display: inline-block; font-size: 1rem; padding: 5px 15px; border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 30px;}
    .work+.work {margin-left: 5px;}
}
.btnLink {display: block; font-size: 1rem; margin-top: 5px; padding: 5px 15px; border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 5px; text-align: center; transition: all .4s;
    .arrowRight {margin-left: 5px; stroke: #fff; fill: #fff; width: 12px; transition: all .4s;}
    &:hover {color: $mainColor; border-color: $mainColor; transition: all .4s;
        .arrowRight { stroke: $mainColor; fill: $mainColor; transition: all .4s;}
    }
}
//contact
.mailBox {
    .txt {text-align: center; line-height: 1.5; font-size: 1.25rem;
        small {font-size: 1rem;}
    }
    .mail {display: flex;  align-items: center; justify-content: center; min-height: 300px; text-align: center; font-size: 4.375rem; color: #fff;
        &:hover {transform: scale(.95); color: $mainColor; transition: all .3s;}
    }
}
//footer
.footer {padding: 30px 0;
    .inner {border: 0; font-size: 0.8125rem; text-align: center; line-height: 1.7; font-weight: 200; color: #ddd;}
}

@media screen and (max-width: 1080px){
    .wrap {padding: 0 20px; padding-top: calc(var(--moHeaderHeight) + 5px);}
    .mobile {display: block;}
    .pc_1080 {display: none;}
    .header {height: auto;}
    .nav {height: auto; display: flex; justify-content: space-between;
        &__inner {flex-wrap: wrap; min-height: var(--moHeaderHeight);}
        .logo {min-height: var(--moHeaderHeight);}
    }
    .navList {display: none; flex-direction: column; width: 100%; height: calc(var(--moHeaderHeight) * $menuCount);
        &__item {width: 100%; height: var(--moHeaderHeight);}
        &__link {width: 100%; display: inline-flex; align-items: center; height: 100%; border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
        &.on {display: flex;}
    }
    .section {max-width: 720px; margin: auto;}
    .about {flex-direction: column;
        .profile {width: 100%;
            .perspective {perspective: 0;}
            &__cont {transform: rotate(0);}
        }
    }
    .introduce {width: 100%; margin: 0; padding: 0;
        &__text {font-size: 1.875rem;
            .hello {font-size: 2.1875rem;}
        }
    }
    // #port {
        .sec {
            // overflow: hidden; 
            padding-top: 70px;
            &Head {padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
        }
    // }
    .portList {
        // display: flex; flex-wrap: wrap; width: calc(100% * $portCount);
        // .swiper {touch-action: pan-x; user-select: none;}
        &__item {
            // width: calc((100% / $portCount) - 30px); 
            min-height: 430px; 
            // padding: 15px;
        }
    }
    .mailBox {
        .mail {min-height: 200px; font-size: 1.75rem;}
    }
}

@media screen and (max-width: 769px){
    .wrap {padding: 0}
    .pc_769 {display: none;}
    .inner {padding: 0 15px; border: 0;}
    .container {padding: 0;}
    // .heightBox {position: relative;}
    .introList {
        &__date {margin-bottom: 10px;}
        &__item {align-items: flex-start; flex-direction: column; flex-wrap: wrap;}
        .introInfo {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; row-gap: 10px; width: 100%;
            &__name,
            &__txt {display: inline-block; text-align: left; padding: 5px 5px 0 5px;}
            &__txt {font-weight: 300;}
        }
    }
    .tags {padding: 10px;}
    .portList {width: 100%; margin: 0; 
        // position: absolute; top:0; left:0;
        &__item {
            min-height: 450px;
        }
        .swiper {padding-left: 0; padding-right: 0; scroll-snap-type: y proximity;}
        .mySwiper {
            &:before {display: none;}
            &:after {display: none;}
            .swiper-button-prev, 
            .swiper-button-next {top: unset; bottom: 0; height: 40px;}
            .swiper-button-prev:after, 
            .swiper-button-next:after {font-size: 1rem;}
            .swiper-pagination-bullet {background: #999;}
            .swiper-pagination-bullet-active {background: #fff;}
            .swiper-horizontal > .swiper-pagination-bullets, 
            .swiper-pagination-bullets.swiper-pagination-horizontal {width: calc(100% - 80px); left: 50%; transform: translateX(-50%);}
        }
    }
}