@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard Black'), local('Pretendard-Black'),
        url(../font/Pretendard-Black.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard ExtraBold'), local('Pretendard-ExtraBold'),
        url(../font/Pretendard-ExtraBold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard Bold'), local('Pretendard-Bold'),
        url(../font/Pretendard-Bold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'),
        url(../font/Pretendard-SemiBold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard Medium'), local('Pretendard-Medium'),
        url(../font/Pretendard-Medium.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard Regular'), local('Pretendard-Regular'),
        url(../font/Pretendard-Regular.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard Light'), local('Pretendard-Light'),
        url(../font/Pretendard-Light.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard ExtraLight'), local('Pretendard-ExtraLight'),
        url(../font/Pretendard-ExtraLight.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard Thin'), local('Pretendard-Thin'),
        url(../font/Pretendard-Thin.woff) format('woff');
  }