/* Reset body */
body {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) {word-break: keep-all;}

/* Reset img */
img {
    max-width: 100%;
    height: auto;
}

/* Font Reset*/
h1, h2, h3, h4, h5, h6, 
button {
    font-weight: 400;
    font-size: inherit;
    font-family: inherit;
}

/* link Tag color
a:link {color: inherit;} */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* CSS Reset by [class] */
[class] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::before, ::after {box-sizing: border-box;}
ol, ul {list-style: none;}
table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
button, table, fieldset, input, textarea, select, iframe {border: 0;}
button, dialog, input, mark, meter, progress {background-color: transparent;}
button, input, textarea, select, meter, progress {
    -webkit-appearance: none;
    appearance: none;
}

hr {
    display: none;
}

textarea {resize: none;}

:focus {outline:none; -webkit-tap-highlight-color : transparent; overscroll-behavior-y: contain;}
:focus-visible {outline: none;}